<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.firebase.androidchat"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <application
        android:name=".GlobalClass"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.firebase.androidchat.TabHostActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:label="OnMyWay" >
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.firebase.androidchat.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.firebase.androidchat.CreatedEventsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_created_events" >
        </activity>
        <activity
            android:name="com.firebase.androidchat.EventsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_events" >
        </activity>
        <activity
            android:name="com.firebase.androidchat.SettingsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:label="Settings" >
        </activity>
        <activity
            android:name="com.firebase.androidchat.SelectFriendsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_select_friends" >
        </activity>
        <activity
            android:name="com.firebase.androidchat.CreateNewEventNameActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_create_new_event_name"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="com.firebase.androidchat.CreateNewEventDateActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_create_new_event_date" >
        </activity>
        <activity
            android:name="com.firebase.androidchat.CreateNewEventTimeActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_create_new_event_time" >
        </activity>
        <activity
            android:name="com.firebase.androidchat.CreateNewEventAttendeesActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_create_new_event_attendees" >
        </activity>
        <activity
            android:name="com.firebase.androidchat.CreateNewEventLocationActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_create_new_event_location"
            android:windowSoftInputMode="stateVisible" >
        </activity>
        <service
            android:name=".BackgroundService"
            android:exported="false"
            android:process=":remote" >
        </service>
        <service
            android:name=".LocationService"
            android:exported="false"
            android:process=":remote" >
        </service>
        <receiver android:name=".ButtonClickReceiver" >
            <intent-filter>
                <action android:name="omw" />
                <action android:name="no" />
            </intent-filter>
        </receiver>   
    </application>

</manifest>
